# Archivos del sistema
.DS_Store
Thumbs.db

# Archivos de IDE
.idea/
.vscode/
*.swp
*.swo

# Archivos de entorno
.env
.env.local
.env.*.local

# Archivos de dependencias
node_modules/
venv/
__pycache__/
*.pyc 